mediapipe == 0.10.3
thonny-postit==1.2
pie4t==0.1.0
turtle4t==0.0.3
threed4t==0.0.7
cv4t==0.1.0
serial4t==0.0.1
speech4t==0.0.6
audio4t==0.0.5
algorithm4t==0.0.1
pyautogui==0.9.53
PySimpleGUI==4.60.4


